<!--The content below is only a placeholder and can be replaced.-->
<div >
  
  <h1>
    Welcome to {{ title }}!
  </h1>
  <input [(ngModel)]="searchBox" placeholder="Type you search" />

  <table class="table table-striped">

    <thead>
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Street</th>
      </tr>
    </thead>
    <tbody *ngFor="let aluno of studentsFinalList | myCostumfilter:['Name','Age','Street']:searchBox">
      <tr>
        <td><span> {{aluno.Name}}</span></td>
        <td><span>{{aluno.Age}} </span></td>
        <td><span>{{aluno?.Street}} </span> </td>
      </tr>
    </tbody>


  </table>
</div>
